<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <!-- a SessionFactory instance listed as /jndi/name -->
  <session-factory>
    <!-- properties -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://0.0.0.0:3306/JPA_LEARN</property>
    <property name="hibernate.connection.username">jpa_learn_user</property>
    <property name="hibernate.connection.password">qwerty</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hbm2ddl.auto">create</property>

  </session-factory>

</hibernate-configuration>